    <div class="axalta-ribbon" id="axaltaRibbon">
      <div class="axalta-ribbon-inner">
        <div class="axalta-ribbon-brand">
          <a
            class="axalta-ribbon-logo-link"
            href="#"
            aria-label="Axalta Coating Systems"
          >
            <img src="{{BASE}}img/footer-axalta-official.svg" width="180" height="48" alt="" class="axalta-ribbon-logo">
          </a>
          <a class="axalta-ribbon-domain-link" href="#" lang="en" aria-label="axalta.com">axalta.com</a>
        </div>
      </div>
    </div>
