  <div data-nosnippet class="external-link-disclaimer" id="externalDisclaimer" aria-hidden="true">
    <div class="disclaimer-card">
      <img src="{{BASE}}img/audurra-logo.jpg" alt="Логотип Audurra" width="200" height="106">
      <p class="disclaimer-card-title">Вы собираетесь покинуть этот сайт</p>
      <p>Axalta не несёт ответственности за содержимое внешней страницы.</p>
      <div class="disclaimer-actions">
        <a href="#" class="btn btn-primary" id="continueExternal">Перейти на внешний сайт</a>
        <button type="button" class="btn btn-ghost" id="cancelExternal">Отмена</button>
      </div>
    </div>
  </div>
