      <aside class="col-lg-3 col-md-12 col-sm-12 col-xs-12 gridBorder facetSection" aria-label="Левое меню раздела" data-cromax-facet-sidebar="">
        <nav class="facet-nav-inner" aria-label="Меню страницы">
          <div class="facet-block facet-block--expanded">
            <button type="button" class="facet-block-toggle" aria-expanded="true" data-facet-toggle>
              <span class="facet-toggle-icon" aria-hidden="true">−</span>
              <span class="facet-block-label">Зачем Audurra?</span>
            </button>
            <div class="facet-block-panel">
              <ul class="facet-sublist">
                <li><a class="facet-sublink" href="{{BASE}}why-audurra/index.html">Обзор</a></li>
                <li><a class="facet-sublink" href="{{BASE}}why-audurra/faq.html">Частые вопросы</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </aside>
