      <aside class="col-lg-3 col-md-12 col-sm-12 col-xs-12 gridBorder facetSection" aria-label="Левое меню раздела" data-cromax-facet-sidebar="">
        <nav class="facet-nav-inner" aria-label="Меню страницы">
          <div class="facet-block facet-block--firstlevel-split facet-block--expanded" data-nav-section="what-is-audurra">
            <div class="facet-block-firstlevel">
              <button type="button" class="facet-block-expander" aria-expanded="true" data-facet-toggle>
                <span class="facet-toggle-icon" aria-hidden="true">−</span>
              </button>
              <a class="facet-block-heading-link" href="{{BASE}}what-is-audurra/index.html">Что такое Audurra?</a>
            </div>
            <div class="facet-block-panel">
              <ul class="facet-sublist">
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/abrasives.html">АБРАЗИВЫ</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/masking.html">МАСКИРОВКА</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/personal-protection.html">СРЕДСТВА ЗАЩИТЫ</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/paint-preparation.html">ПОДГОТОВКА К ОКРАСКЕ</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/substrate-preparation.html">ПОДГОТОВКА ПОДЛОЖКИ</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/paint-stands-storage-systems.html">СТОЙКИ И ХРАНЕНИЕ</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/plastic-repair.html">РЕМОНТ ПЛАСТИКА</a></li>
              </ul>
            </div>
          </div>
          <div class="facet-block facet-block--firstlevel-split facet-block--expanded" data-nav-section="working-with-audurra">
            <div class="facet-block-firstlevel">
              <button type="button" class="facet-block-expander" aria-expanded="true" data-facet-toggle>
                <span class="facet-toggle-icon" aria-hidden="true">−</span>
              </button>
              <a class="facet-block-heading-link" href="{{BASE}}working-with-audurra/index.html">Работа с Audurra?</a>
            </div>
            <div class="facet-block-panel">
              <ul class="facet-sublist">
                <li><a class="facet-sublink" href="{{BASE}}working-with-audurra/tds-sds.html">TDS / SDS</a></li>
                <li><a class="facet-sublink" href="{{BASE}}working-with-audurra/how-to-use-our-products.html">КАК ИСПОЛЬЗОВАТЬ ПРОДУКЦИЮ</a></li>
                <li><a class="facet-sublink" href="{{BASE}}working-with-audurra/publications.html">ПУБЛИКАЦИИ</a></li>
                <li><a class="facet-sublink" href="{{BASE}}working-with-audurra/videos.html">ВИДЕО</a></li>
              </ul>
            </div>
          </div>
          <div class="facet-block facet-block--firstlevel-split facet-block--expanded" data-nav-section="why-audurra">
            <div class="facet-block-firstlevel">
              <button type="button" class="facet-block-expander" aria-expanded="true" data-facet-toggle>
                <span class="facet-toggle-icon" aria-hidden="true">−</span>
              </button>
              <a class="facet-block-heading-link" href="{{BASE}}why-audurra/index.html">Зачем Audurra?</a>
            </div>
            <div class="facet-block-panel">
              <ul class="facet-sublist">
                <li><a class="facet-sublink" href="{{BASE}}why-audurra/faq.html">ЧАСТЫЕ ВОПРОСЫ</a></li>
              </ul>
            </div>
          </div>
          <div class="facet-block facet-block--firstlevel-split facet-block--expanded" data-nav-section="catalog">
            <div class="facet-block-firstlevel">
              <button type="button" class="facet-block-expander" aria-expanded="true" data-facet-toggle>
                <span class="facet-toggle-icon" aria-hidden="true">−</span>
              </button>
              <a class="facet-block-heading-link" href="{{BASE}}catalog/index.html">Каталог</a>
            </div>
            <div class="facet-block-panel">
              <ul class="facet-sublist">
                <li><a class="facet-sublink" href="{{BASE}}documents/Audurra_Catalogue_EN_2025-10.pdf" target="_blank" rel="noopener noreferrer nofollow">КАТАЛОГ-ПРОСПЕКТ (PDF)</a></li>
              </ul>
            </div>
          </div>
          <div class="facet-block facet-block--firstlevel-split facet-block--firstlevel-no-sub facet-block--contact" data-nav-section="contacts">
            <div class="facet-block-firstlevel">
              <span class="facet-block-expander-spacer" aria-hidden="true"></span>
              <a class="facet-block-heading-link" href="{{BASE}}contacts/contacts.html">Контакты</a>
            </div>
          </div>
        </nav>
      </aside>