      <aside class="col-lg-3 col-md-12 col-sm-12 col-xs-12 gridBorder facetSection" aria-label="Левое меню раздела" data-cromax-facet-sidebar="">
        <nav class="facet-nav-inner" aria-label="Меню страницы">
          <div class="facet-block facet-block--expanded">
            <button type="button" class="facet-block-toggle" aria-expanded="true" data-facet-toggle>
              <span class="facet-toggle-icon" aria-hidden="true">−</span>
              <span class="facet-block-label">Что такое Audurra?</span>
            </button>
            <div class="facet-block-panel">
              <ul class="facet-sublist">
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/index.html">Обзор</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/abrasives.html">Абразивы</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/masking.html">Маскировка</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/personal-protection.html">Средства защиты</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/paint-preparation.html">Подготовка к окраске</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/substrate-preparation.html">Подготовка подложки</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/paint-stands-storage-systems.html">Стойки и хранение</a></li>
                <li><a class="facet-sublink" href="{{BASE}}what-is-audurra/plastic-repair.html">Ремонт пластика</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </aside>
