          <nav aria-label="Secondary Navigation" class="util top-meta" id="topMeta" role="navigation">
            <div class="search-cluster" id="searchCluster">
              <button type="submit" form="searchBox" class="search-submit-round" id="searchSubmitRound" aria-label="Найти">
                <span class="meta-round"><i class="fa-solid fa-arrow-right" aria-hidden="true"></i></span>
              </button>
              <button type="button" class="search-toggle" id="searchToggle" aria-expanded="false" aria-label="Открыть поиск">
                <span class="meta-label">Поиск</span>
                <span class="meta-round">
                  <i class="fa-solid fa-magnifying-glass icon-search"></i>
                  <i class="fa-solid fa-xmark icon-close"></i>
                </span>
              </button>
              <form class="search-box" id="searchBox" action="#" method="get">
                <span class="search-area-icon" aria-hidden="true">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input type="text" enterkeyhint="search" inputmode="search" name="q" placeholder="Поиск" autocomplete="off" aria-label="Поиск">
              </form>
            </div>
            <a class="meta-link meta-link-user" href="#">Мой Audurra <i class="fa-regular fa-user meta-user-icon"></i></a>
            <a class="meta-link meta-link-worldwide" href="{{BASE}}who-we-are/where-to-buy.html">Представители <span class="meta-worldwide-icon lnr lnr-earth" aria-hidden="true"></span></a>
            <a class="meta-icon" href="#" aria-label="YouTube"><i class="fa-solid fa-play"></i></a>
            <a class="meta-icon" href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
            <a class="meta-icon" href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a class="meta-icon" href="#" aria-label="RSS"><i class="fa-solid fa-rss"></i></a>
          </nav>
